@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito+Sans:wght@400;700&family=Nunito:wght@400;500;600;700&family=Playfair+Display:wght@400;700&family=Poppins:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px 144px 96px 144px;
}

:root {
    --main-bg-color: #066F14;
    --main-font-color: #1A1A1A;
    --secondary-font-color: #4A4A4A;
    --last-font-color: #FFFFFF;
    --main-font-style: normal;
    --main-font-weight: 400;
    --secondary-font-weight: 700;
    --main-font-family: 'DM Sans';
    --secondary-font-family: 'Nunito';
}

.button_style {
    background: var(--main-bg-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.title_style {
    font-family: var(--secondary-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--secondary-font-weight);
    color: var(--main-font-color);
}

.menu_icon {
    display: none;
}

.auth_icon {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}

.main_title {
    font-size: 24px;
    line-height: 33px;
}

.navigation {
    display: flex;
    align-items: baseline;
    gap: 128px;
}

.navigation_links {
    display: flex;
    gap: 48px;
}

.navigation_link {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: 16px;
    line-height: 21px;
    color: var(--main-font-color);
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.navigation_button {
    width: 81px;
    height: 42px;
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: 14px;
    line-height: 18px;
    color: var(--last-font-color);
}

.navigation_auth {
    display: flex;
    gap: 48px;
    align-items: center;
}

.first_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.first_section_block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 548px;
}

.first_section_title {
    font-size: 72px;
    line-height: 92px;
}

.first_section_text {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: 16px;
    line-height: 26px;
    color: var(--secondary-font-color);
    margin-bottom: 16px;
}

.first_section_button {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    padding: 16px 32px;
    color: var(--last-font-color);
    width: 160px;
    margin-bottom: 36px;

}

.first_section_statistic {
    display: flex;
    gap: 112px;
}

.first_section_statistic_block {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.first_section_statistic_title {
    font-family: var(--secondary-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--secondary-font-weight);
    font-size: 36px;
    line-height: 49px;
    color: #001B04;
}

.first_section_statistic_text {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: 18px;
    line-height: 23px;
    color: var(--main-font-color);
}

.second_section {
    display: flex;
    gap: 62px;
    margin-bottom: 128px;
}

.second_section_block {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.second_section_title {
    font-size: 36px;
    line-height: 49px;
}

.second_section_link {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: 18px;
    line-height: 23px;
    color: var(--secondary-font-color);
    text-decoration: none;
}

.second_section_img_block {
    display: flex;
    gap: 24px;
    align-items: center;
}

.third_section {
    display: flex;
    gap: 80px;
    margin: 0 26px 128px 26px;
}

.third_section_img {
    margin: 40px 0 0 70px;
    box-shadow: -70px -40px var(--main-bg-color);
}

.third_section_block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.third_section_title {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: var(--main-bg-color);
}

.third_section_subtitle {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 8px;
}

.third_section_text {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: 16px;
    line-height: 26px;
    color: var(--secondary-font-color);
}

.third_section_text_end {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 40px;
    color: var(--secondary-font-color);
}

.third_section_button {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    width: 155px;
    height: 55px;
    color: var(--last-font-color);
}

.fourth_section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 128px;
}

.fourth_section_title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}

.fourth_section_links {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    justify-content: center;
}

.fourth_section_link {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--secondary-font-color);
    text-decoration: none;
}

.fourth_section_link:hover {
    font-size: 18px;
    color: var(--main-bg-color);
    transition: all 300ms ease;
}

.fourth_section_product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.fourth_section_product_one {
    width: 270px;
    background-color: #EAF2E5;
}

.fourth_section_product_two {
    width: 270px;
    background-color: #F0EBE6;
}

.fourth_section_product_three {
    width: 270px;
    background-color: #E2ECE4;
}

.fourth_section_product_four {
    width: 270px;
    background-color: #E7EEED;
}

.fourth_section_img_one {
    margin: 10px 65px 0 65px;
}

.fourth_section_img_two {
    margin: 10px 75px 0 75px;
}

.fourth_section_img_three {
    margin: 10px 76px 0 76px;
}

.fourth_section_img_four {
    margin: 0 0 10px 55px;
}

.fourth_section_product_name {
    font-family: var(--secondary-font-family);
    font-style: var(--main-font-style);
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--main-font-color);
    margin: 10px 0 0 32px;
}

.fourth_section_product_rating {
    margin: 10px 0 0 32px;
}

.fourth_section_product_price {
    font-family: var(--secondary-font-family);
    font-style: var(--main-font-style);
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--main-font-color);
    margin: 12px 0 29px 32px;
}

.fourth_section_button {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: var(--last-font-color);
    padding: 16px 32px;
    align-self: center;
}

.fifth_section {
    display: flex;
    gap: 48px;
    margin-bottom: 164px;
}

.fifth_section_title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 12px;
}

.fifth_section_text {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: 16px;
    line-height: 26px;
    color: var(--secondary-font-color);
    margin-bottom: 43px;
}

.fifth_section_block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--main-bg-color);
    padding: 20px 24px 30px 32px;
    margin-right: -92px;
    position: relative;
}

.fifth_section_block_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.fifth_section_block_customer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fifth_section_name {
    font-family: var(--secondary-font-family);
    font-style: var(--main-font-style);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: var(--last-font-color);
    margin: 6px 0 6px 0;
}

.fifth_section_desc {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: 14px;
    line-height: 18px;
    color: #D9D9D9;
}

.fifth_section_block_text {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: 16px;
    line-height: 26px;
    color: #ECECEC;
}

.sixth_section {
    display: flex;
    gap: 220px;
    background-color: #DFFFE3;
    margin: 0 56px 79px 56px;
}

.sixth_section_block {
    margin: 60px 60px 0 60px;
}

.sixth_section_title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 12px;
}

.sixth_section_text {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: 16px;
    margin-bottom: 30px;
}

.sixth_section_text_input_block{
    background-color: var(--last-font-color) ;
    border-radius: 4px;
    padding: 8px 8px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sixth_section_input {
    background: var(--last-font-color);
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
}

.sixth_section_input::placeholder {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: 14px;
    line-height: 18px;
    color: #5A5A5A;
}

.sixth_section_button {
    width: 98px;
    height: 40px;
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: 14px;
    line-height: 18px;
    color: #FEFEFE;
}

.sixth_section_img {
    margin: -36px 24px 0 0;
}

.seventh_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 128px;
}

.seventh_section_title {
    font-size: 48px;
    line-height: 57px;
    margin-bottom: 12px;
}

.seventh_section_text {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    width: 37vw;
    margin-bottom: 40px;
    color: var(--secondary-font-color);
}

.seventh_section_block {
    display: flex;
}

.seventh_section_img {
    position: relative;
}

.seventh_section_underlay {
    display: block;
    width: 100%;
}

.seventh_section_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.seventh_section_overlay:hover {
    opacity: 1;
    cursor: pointer;
    transition: all 300ms ease-in;
}

.footer {
    display: flex;
    gap: 200px;
}

.footer_title {
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--secondary-font-weight);
    font-size: 24px;
    line-height: 31px;
    color: var(--main-font-color);
    margin-bottom: 24px;
}

.footer_text {
    line-height: 26px;
    margin-bottom: 22px;
    width: 306px;
}

.footer_icons {
    display: flex;
    gap: 16px;
}

.footer_navigation {
    display: flex;
    flex-direction: row;
    gap: 128px;
}

.footer_link_block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer_link {
    line-height: 21px;
    text-decoration: none;
}

.footer_style_text {
    color: #5A5A5A;
    font-family: var(--main-font-family);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: 16px;
}

@media screen and (max-width: 1508px) {
    body {
        padding: 40px 100px 96px 100px;
    }

    .third_section {
        margin: 0 0 128px 0;
        gap: 50px;
    }

    .third_section_img {
        margin: 40px 0 -5px 70px;
    }

    .third_section_block {
        gap: 0;
        justify-content: space-between;
    }

    .third_section_subtitle {
        margin-bottom: 0px;
        font-size: 36px;
        line-height: 45px;
    }

    .third_section_text {
        line-height: 22px;
    }

    .third_section_text_end {
        margin-bottom: 0px;
        line-height: 25px;
    }
}

@media screen and (max-width: 1384px) {
    .second_section {
        flex-direction: column;
        gap: 1rem;
    }

    .second_section_img_block {
        justify-content: space-between;
    }

    .fourth_section_product_ {
        width: 250px;
    }

    .fourth_section_img_one {
        margin: 10px 55px 0 55px;
    }

    .fourth_section_img_two {
        margin: 10px 65px 0 65px;
    }

    .fourth_section_img_three {
        margin: 10px 66px 0 66px;
    }

    .fourth_section_img_four {
        margin: 0 0 10px 45px;
    }

    .sixth_section {
        gap: 150px;
    }

    .sixth_section_block {
        margin: 40px 60px 20px 60px;
    }
}

@media screen and (max-width: 1200px) {
    body {
        padding: 40px 80px 40px 80px;
    }

    .header {
        margin-bottom: 2rem;
    }

    .navigation {
        gap: 60px;
    }

    .navigation_links {
        gap: 36px;
    }

    .navigation_auth {
        gap: 36px;
    }

    .first_section_title {
        font-size: 3.5rem;
        line-height: 5rem;
    }

    .first_section_text {
        margin-bottom: 0;
    }

    .first_section_button {
        margin-bottom: 0;
    }

    .first_section_statistic {
        gap: 3rem;
    }

    .first_section_statistic_title {
        font-size: 2rem;
    }

    .first_section_statistic_text {
        font-size: 1rem;
    }

    .first_section_img {
        width: 90%;
    }

    .second_section_img {
        height: 50%;
    }

    .third_section {
        gap: 20px;
        flex-direction: column;
    }

    .third_section_img {
        width: 30%;
        box-shadow: -30px -10px var(--main-bg-color);
        margin: 40px 0 -5px 30px;
    }

    .third_section_block {
        gap: 20px;
    }

    .third_section_button {
        align-self: flex-end;
    }

    .fourth_section_title {
        font-size: 36px;
        line-height: 45px;
    }

    .fourth_section_product_ {
        width: 200px;
    }

    .fourth_section_product_name {
        margin: 10px 0 0 15px;
    }

    .fourth_section_product_rating {
        margin: 10px 0 0 15px;
    }

    .fourth_section_product_price {
        margin: 12px 0 15px 15px;
    }

    .fourth_section_img_one {
        width: 40%;
        margin: 15px 60px 10px 60px;
    }

    .fourth_section_img_two {
        width: 40%;
        margin: 10px 60px 0 60px;
    }

    .fourth_section_img_three {
        width: 40%;
        margin: 10px 60px 0 60px;
    }

    .fourth_section_img_four {
        width: 40%;
        margin: 30px 0 10px 60px;
    }

    .fifth_section {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .fifth_section_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fifth_section_title {
        font-size: 36px;
        line-height: 45px;
    }

    .fifth_section_text {
        text-align: center;
        margin: 0 40px 12px 40px;
    }

    .fifth_section_block {
        width: 70%;
        margin-right: 0;
    }

    .fifth_section_name {
        margin: 0;
    }

    .fifth_section_img_block {
        order: -1;
    }

    .sixth_section {
        gap: 40px;
        margin: 0 0 79px 0;
    }

    .sixth_section_title {
        font-size: 36px;
        line-height: 45px;
    }
}

@media screen and (max-width: 992px) {
    body {
        padding: 30px 50px 30px 50px;
    }

    .main_title {
        font-size: 1rem;
    }

    .navigation_link {
        font-size: 0.7rem;
    }

    .navigation_button {
        font-size: 0.7rem;
        width: 4rem;
        height: 2rem;
    }

    .first_section_title {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .first_section_text {
        font-size: 0.9rem;
    }

    .first_section_button {
        font-size: 0.8rem;
        line-height: 1rem;
        width: 9rem;
    }

    .first_section_statistic_block {
        gap: 0;
    }

    .first_section_statistic_title {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .first_section_statistic_text {
        font-size: 0.8rem;
    }

    .second_section_img {
        width: 25%;
    }

    .third_section_title {
        font-size: 0.8rem;
    }

    .third_section_block {
        gap: 10px;
    }

    .third_section_button {
        font-size: 0.8rem;
        line-height: 1rem;
        width: 7rem;
        height: 50px;
    }

    .third_section_text {
        font-size: 0.9rem;
    }

    .third_section_text_end {
        font-size: 0.9rem;
    }

    .fourth_section_links {
        margin-bottom: 0;
    }

    .fourth_section_product {
        margin-bottom: 0;
    }

    .fourth_section_product_ {
        width: 150px;
    }

    .fourth_section_product_name {
        margin: 0px 0 0 15px;
        font-size: 1rem;
    }

    .fourth_section_product_rating {
        margin: 0 0 5px 15px;
        font-size: 0.5rem;
    }

    .fourth_section_product_price {
        line-height: 0.8rem;
        font-size: 0.8rem;
        margin: 0 0 5px 15px;
    }

    .fourth_section_img_one {
        margin: 15px 45px 10px 45px;
    }

    .fourth_section_img_two {
        margin: 10px 45px 5px 45px;
    }

    .fourth_section_img_three {
        margin: 10px 45px 5px 45px;
    }

    .fourth_section_img_four {
        margin: 25px 0 10px 45px;
    }

    .fourth_section_button {
        font-size: 0.8rem;
        line-height: 1rem;
        width: 7rem;
    }

    .fifth_section_text {
        font-size: 0.9rem;
        line-height: 25px;
    }

    .fifth_section_block {
        padding: 10px 14px 20px 22px;
    }

    .fifth_section_block_text {
        font-size: 0.9rem;
        line-height: 25px;
    }

    .fifth_section_img_block {
        display: flex;
        justify-content: center;
    }

    .fifth_section_img {
        width: 70%;
    }

    .sixth_section {
        gap: 0;
    }

    .sixth_section_block {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 30px;
    }

    .sixth_section_title {
        margin: 0;
    }

    .sixth_section_text {
        font-size: 0.9rem;
        line-height: 25px;
        margin: 0;
    }

    .sixth_section_input::placeholder {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .sixth_section_button {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .sixth_section_img {
        margin: -36px 0 0 0;
    }

}

@media screen and (max-width: 768px) {
    body {
        padding: 20px 30px;
    }

    .header {
        gap: 2rem;
    }

    .main_title {
        font-size: 2rem;
    }

    .menu_icon {
        display: block;
        width: 28px;
    }

    .auth_icon {
        display: block;
        width: 32px;
    }

    .navigation {
        justify-content: flex-end;
        gap: 2rem;
    }

    .navigation_links {
        display: none;
    }

    .navigation_auth {
        display: none;
    }

    .navigation_button {
        font-size: 0.6rem;
    }

    .first_section_block {
        width: 60%;
    }

    .first_section_title {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .first_section_text {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .first_section_button {
        font-size: 0.7rem;
        width: 6.9rem;
        padding: 10px 0 10px 0;
    }

    .first_section_statistic {
        gap: 2rem;
    }

    .first_section_statistic_title {
        font-size: 1rem;
        line-height: 1rem;
    }

    .first_section_statistic_text {
        font-size: 0.6rem;
    }

    .first_section_block_img {
        width: 40%;
    }

    .second_section_block {
        gap: 1rem;
    }

    .second_section_title {
        font-size: 1.2rem;
        line-height: 1.5rem;;
    }

    .second_section_link {
        font-size: 0.8rem;
    }

    .third_section_img_block {
        display: none;
    }

    .third_section_subtitle {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .third_section_text {
        font-size: 0.8rem;
    }

    .third_section_text_end {
        font-size: 0.8rem;
    }

    .third_section_button {
        font-size: 0.7rem;
        height: 40px;
    }

    .fourth_section {
        gap: 15px;
    }

    .fourth_section_title {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .fourth_section_link {
        font-size: 0.8rem;
    }

    .fourth_section_product {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .fourth_section_button {
        font-size: 0.7rem;
        height: 40px; 
        line-height: 0.8rem;
        padding-top: 13px;
    }

    .fifth_section_title {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .fifth_section_text {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .fifth_section_block {
        width: 80%;
        gap: 10px;
        padding: 10px;
    }

    .fifth_section_name {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .fifth_section_desc {
        font-size: 0.7rem;
    }

    .fifth_section_block_text {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .fifth_section_mark {
        width: 7%;
    }

    .sixth_section_block {
        margin: 15px;
        gap: 10px;
    }

    .sixth_section_title {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .sixth_section_text {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .sixth_section_text_input_block {
        padding: 5px 5px 5px 15px;
    }

    .sixth_section_input {
        height: 30px;
    }

    .sixth_section_input::placeholder {
        font-size: 0.7rem;
        line-height: 0.8rem;
    }

    .sixth_section_button {
        font-size: 0.7rem;
        height: 30px;
        line-height: 0.8rem;
    }

    .sixth_section_img_ {
        width: 90%;
    }

    .sixth_section_img {
        margin: 0;
        align-self: center;
    }
}

@media screen and (max-width: 480px) {

    .first_section_block_img {
        display: none;
    }

    .first_section_block {
        width: 100%;
    }

    .fifth_section_block_customer {
        gap: 5px;
    }

    .fifth_section_name {
        line-height: 15px;
    }

    .fifth_section_img_hasanul {
        width: 25%;
    }

    .sixth_section_img {
        display: none;
    }
}